.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: none;
}
body {
  background: url("../assets/img/ravenol_background.jpg") no-repeat center
    center;
  background-size: cover;
  overflow-x: hidden;
}
header {
  margin-top: 2rem !important;
}
header nav ul {
  list-style: none;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid;
  border-image: linear-gradient(-195.7deg, #0a2a6c, #00aaff) 1;
  transform: skewX(-20deg);
}
header nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: none;
}
header nav ul li a {
  color: #2759a0;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.063rem;
  text-align: center;
  transform: skew(20deg);
  text-transform: uppercase;
  color: rgba(14, 65, 117, 1);
  white-space: nowrap;
}
header nav ul li a.active {
  font-weight: 900;
  pointer-events: none;
  cursor: none;
}
header nav ul li button {
  border: none;
  transform: skew(20deg);
}
header nav ul li button a i {
  font-size: 1.563rem;
}
.bannerContainer .carouselItem img {
  width: 100%;
  max-width: 1920px;
}
.floating-social {
  position: fixed;
  top: 50px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 50px;
}

.floating-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.floating-social ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.floating-social ul li i {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.floating-social ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.floating-social ul li a:hover {
  color: #000;
}
.mobileMenu {
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10001;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease;
}
.mobileMenu.open {
  left: 0;
}
.mobileMenu ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.mobileMenu ul li {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.mobileMenu ul li a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(14, 65, 117, 1);
}
.mobileMenu ul li a.active {
  font-weight: 900;
  pointer-events: none;
  cursor: none;
}
.mobileMenu .closeMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.mobileMenu .closeMenu i {
  font-size: 35px;
  color: rgba(14, 65, 117, 1);
}
